/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "NRF52840-pinctrl.dtsi"

/ {
	model = "NRF52840";
	compatible = "baram,NRF52840";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
    zephyr,console = &uart0;
	};

  leds {
    compatible = "gpio-leds";
    led: led_0 {
      gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
      label = "LED";
    };
  };  

	usb_hid_kbd: hid_kbd {
		compatible = "zephyr,hid-device";
		label = "HID_KBD";
		protocol-code = "keyboard";
		in-report-size = <64>;
		in-polling-period-us = <1000>;
	};  

	usb_hid_via: hid_via {
		compatible = "zephyr,hid-device";
		label = "HID_VIA";
		protocol-code = "none";
		in-report-size = <32>;
    out-report-size = <32>;
		in-polling-period-us = <1000>;
    out-polling-period-us = <1000>;
	};

	usb_hid_exk: hid_exk {
		compatible = "zephyr,hid-device";
		label = "HID_EXK";
		protocol-code = "none";
		in-report-size = <64>;
		in-polling-period-us = <1000>;
  };

  keys {
		compatible = "gpio-leds";
		row0:  row_0  { gpios = <&gpio0 13 (GPIO_ACTIVE_HIGH)>; label = "row0";};     
		row1:  row_1  { gpios = <&gpio0 14 (GPIO_ACTIVE_HIGH)>; label = "row1";};     
		row2:  row_2  { gpios = <&gpio0 15 (GPIO_ACTIVE_HIGH)>; label = "row2";};     
		row3:  row_3  { gpios = <&gpio0 16 (GPIO_ACTIVE_HIGH)>; label = "row3";};     
    row4:  row_4  { gpios = <&gpio1  2 (GPIO_ACTIVE_HIGH)>; label = "row4";};         

    col0:  col_0  { gpios = <&gpio1 11 (GPIO_ACTIVE_HIGH)>; label = "col0";};     
    col1:  col_1  { gpios = <&gpio1 12 (GPIO_ACTIVE_HIGH)>; label = "col1";};     
    col2:  col_2  { gpios = <&gpio1 13 (GPIO_ACTIVE_HIGH)>; label = "col2";};     
    col3:  col_3  { gpios = <&gpio1 14 (GPIO_ACTIVE_HIGH)>; label = "col3";};     
    col4:  col_4  { gpios = <&gpio1 15 (GPIO_ACTIVE_HIGH)>; label = "col4";};     
    col5:  col_5  { gpios = <&gpio0  3 (GPIO_ACTIVE_HIGH)>; label = "col5";};     
    col6:  col_6  { gpios = <&gpio0 17 (GPIO_ACTIVE_HIGH)>; label = "col6";};     
    col7:  col_7  { gpios = <&gpio0 21 (GPIO_ACTIVE_HIGH)>; label = "col7";};     
    col8:  col_8  { gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH)>; label = "col8";};      
    col9:  col_9  { gpios = <&gpio0 23 (GPIO_ACTIVE_HIGH)>; label = "col9";};     
    col10: col_10 { gpios = <&gpio0 22 (GPIO_ACTIVE_HIGH)>; label = "col10";};     
    col11: col_11 { gpios = <&gpio1  0 (GPIO_ACTIVE_HIGH)>; label = "col11";};       
    col12: col_12 { gpios = <&gpio0 24 (GPIO_ACTIVE_HIGH)>; label = "col12";};     
    col13: col_13 { gpios = <&gpio0 25 (GPIO_ACTIVE_HIGH)>; label = "col13";};          
    col14: col_14 { gpios = <&gpio1 10 (GPIO_ACTIVE_HIGH)>; label = "col14";};     
  };   
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(48)>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 DT_SIZE_K(472)>;
		};

		slot1_partition: partition@82000 {
			label = "image-1";
			reg = <0x00082000 DT_SIZE_K(472)>;
		};

		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 DT_SIZE_K(32)>;
		};
	};
};

&gpio0 {
  status = "okay";
};

&gpiote {
  status = "okay";
};

&uart0 {
  status = "okay";
  pinctrl-0 = <&uart0_default>;
  pinctrl-1 = <&uart0_sleep>;
  pinctrl-names = "default", "sleep";
  compatible = "nordic,nrf-uarte";
  current-speed = <115200>;
};

&gpio1 {
  status = "okay";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
	num-bidir-endpoints = <0>;
	num-in-endpoints = <7>;
	num-out-endpoints = <2>;
	num-isoin-endpoints = <0>;
	num-isoout-endpoints = <0>;
};
